[core]
        excludesfile = ~/.config/git/ignore
        autocrlf = input
[color]
        ui = true
[push]
        default = upstream
[commit]
        verbose = true
	gpgsign = true
[url "git@github.com:ayqazi/"]
        insteadOf = https://github.com/ayqazi/
[url "git@github.com:ayqazi/"]
        insteadOf = https://git@github.com/ayqazi/
[fetch]
        recurseSubmodules = yes
[pager]
	branch = /usr/bin/less -FRX
[pull]
	ff = only
[init]
	defaultBranch = master
[include]
	path = ~/.config/git/config.local ; NOT to be checked in
[gpg]
	format = ssh
