*
!/.gitignore
!/.gitconfig
!/.emacs.d/
!/.emacs.d/**/*
!/.bashrc
!/.bashrc.d/
!/.bashrc.d/.gitkeep
!/.bash_completion.d/
!/.bash_completion.d/**/*
/.bash_history
/.bash_profile
/.bash_logout
!/.profile
!/bin/
!/bin/**/*
!/.config/
!/.config/i3/
!/.config/i3/**/*
!/.config/i3status/
!/.config/i3status/**/*
!/.config/desktop-setup/
!/.config/desktop-setup/**/*
!/.config/touchpad-settings/
!/.config/touchpad-settings/**/*
!/.config/parcellite/
!/.config/parcellite/**/*
!/.config/git/
!/.config/git/**/*
!/.local/
!/.local/bin/
!/.local/bin/.gitkeep
!/doc/
!/doc/sre-book/
!/doc/sre-book/download.sh
!/lib/
!/lib/perl5/
!/lib/perl5/xkpasswd.pm/
!/lib/perl5/xkpasswd.pm/**/*
!/.ssh/
!/.ssh/.config.d/
!/.ssh/.config.d/*.vendor
!/.gemrc
!/.parallel/
!/.parallel/will-cite
!/.shutter/
!/.shutter/**/*
/.shutter/session.xml
!/.tmux.conf
