*
!/.gitignore
!/.gitconfig
!/.global-gitignore
!/.emacs.d/
!/.emacs.d/**/*
!/.bash*
!/.bash_completion.d/
!/.bash_completion.d/**/*
/.bash_history
!/.profile
!/bin/
!/bin/**/*
/bin/idea
!/.config/
!/.config/i3/
!/.config/i3/**/*
!/.config/i3status/
!/.config/i3status/**/*
!/.config/desktop-setup/
!/.config/desktop-setup/**/*
!/.config/touchpad-settings/
!/.config/touchpad-settings/**/*
!/doc/
!/doc/sre-book/
!/doc/sre-book/download.sh
!/lib/
!/lib/perl5/
!/lib/perl5/xkpasswd.pm/
!/lib/perl5/xkpasswd.pm/**/*
!/Desktop/
!/Desktop/*.desktop
!/.ssh/
!/.ssh/.config.d/
!/.ssh/.config.d/*.vendor
!/.gemrc
