[core]
        excludesfile = ~/.config/git/ignore
        autocrlf = input
[color]
        ui = true
[push]
        default = upstream
[commit]
        verbose = true
[url "git@github.com:ayqazi/"]
        insteadOf = https://github.com/ayqazi/
[fetch]
        recurseSubmodules = yes
[pager]
	branch = /usr/bin/less -FRX
